# Rust
target/

# Node
node_modules/
dist/
.env.placeholder.local
.cache/

# IDEs
.idea/
.vscode/
*.iml

# Rust
.cargo/config.toml
Cargo.lock

# OS
.DS_Store
Thumbs.db
thumbs.db
time-travel.*

# Temp files
*.swp
*.swo
*.log
